//imaganes con enlaces
.imagen-index {
  filter: grayscale(0.8);
  transition: all 0.3s ease;

  //animacion y card
  &:hover {
    filter: grayscale(0);
  }
}

.carrera {
  flex: center;
  justify-content: start;
}

//redes sociales
.logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .card {
    --bs-card-bg: rgba(59, 26, 130, 0.086);
  }

  img {
    height: 250px;
    width: 250px;
    margin: 50px auto;
  }
}

.contenedor {
  width: center;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-around;
}
