
.imagen-index{
    filter:grayscale(0.8);
    transition: all 0.3s ease;
}
.imagen-index:hover{
 filter:grayscale(0);

}
.logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logos .card {
    --bs-card-bg: rgba(0, 0, 0, 0.075)
}

.logos img{
    height: 250px;
    width: 250px;
    margin: 15px;
}

.carrera{
    flex: center;
    justify-content: start;
}
